.home
{
    width: 100%;
    background-color: black;
    color: white;
}
.home h1{
    text-align: center;
}
.home_description{
        width: 100%;
        height: 40rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:1.5rem;
}

.home_description h1{
    font-size: 3.125rem;
    color: #F3F3F3EA;
}

.home_description p{
    width: 45rem;
    text-align: center;
    font-size: 1.5rem;
    color: #7A7A7A;
}
.home_description button{
    width: 23rem;
    height: 3rem;
    border-radius:10px;
    color: black;
    font-size: 1.8rem;
    background-color: #E11D48;
    border: 0;
    font-weight: bold;
}
.features
{
    background-color:#3C3D37;
    margin: 0 5rem;
    padding-top:2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
}
.cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 3rem;
}
@media (max-width:768px)
{

.home_description{
        height: 30rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:1.rem;
        
}
.home_description h1{
    font-size: 1.625rem;
    text-align: center;
}

.home_description p{
    width: 19rem;
    text-align: center;
    font-size:0.8rem;
    color: #7A7A7A;
}

.home_description button{
    width: 18rem;
    height:3rem;
    border-radius:10px;
    background-color: #E11D48;
    border: 0;
}
.features
{
    background-color:#3C3D37;
    margin: 0 1rem 2rem 1rem;
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 2rem;
}
}
